# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# VSCode / PyCharm project files
.vscode/
.idea/

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db

# Ignore virtual environments
nlp_IMDB/
